doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(
      content="width=device-width, initial-scale=1, shrink-to-fit=no",
      name="viewport"
    )
    link(rel='manifest', href='/manifest.json')
    title= title
    link(
      crossorigin="anonymous",
      href="/css/bootstrap.min.css",
      rel="stylesheet",
    )
    link(rel='stylesheet', href='/css/main.css')
  body
    block content
    block scripts
      script(
        crossorigin="anonymous",
        src="/js/jquery-3.3.1.slim.min.js"
      )
      script(
        crossorigin="anonymous",
        src="/js/popper.min.js"
      )
      script(
        crossorigin="anonymous",
        src="/js/bootstrap.min.js"
      )
      script(src="/socket.io/socket.io.js")
      script(src="/js/main.js")
